@import 'scss/helpers/_variables';

@import 'scss/mainrules';
@import 'scss/layout/_grid';
@import 'scss/components/_buttons';

@import 'scss/layout/_header';
@import 'scss/pages/gallery';
@import 'scss/layout/_footer';
