@import 'scss/helpers/variables';
@import 'scss/mainrules.scss';

@import 'scss/layout/grid';
@import 'scss/layout/header';
@import 'scss/layout/footer';
@import 'scss/components/buttons';
@import 'scss/pages/home';