body{
    text-align: center;
}

.intro{
    opacity: 0;
    transform: translateX(-20px);
    transition: all ease-in-out .5s;
}

h1{
    margin-top: 2rem;
}

p{
    margin: 0 auto 2rem;
    font-size: 1rem;
    max-width: 70%;
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.column{
    display: flex;
    flex-direction: column;
}

.gallery .img-container{
    max-width: 30vw;
    margin: .5rem;
    overflow: hidden;
}

.gallery img{
    width: 100%;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

.gallery img:hover{
    transform: scale(1.3);
}

.gallery img:active{
    transition: all ease-in-out .15s;
    transform: scale(0.9);
}

.overlay {
	z-index:1000;
	background-color:rgba(0,0,0,0.7);
	position:fixed;
	top:0;
	left:0;
	width:100vw;
    height:100vh;
    cursor: pointer;
}

.popup{
	z-index:1001;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:1rem;
	background-color:rgba(255, 255, 255, 0.849);
}

.popup img{
	max-height:80vh;
}

.popup .popup-close{
	position:fixed;
	top:5px;
	right:5px;
	padding:5px 10px;
	cursor:pointer;
	font-weight:bold;
}

.popup .img-label{
	text-align:center;
	margin-bottom:15px;
	font-size:25px;
	font-weight:bold;
	text-transform:capitalize;
}
@media (max-width:800px){
    .gallery{
        flex-direction: column;
        align-items: center;
    }
    .gallery .img-container{
        max-width: 100%;
    }
}

@media (max-width:830px){
    .popup img{
        max-width:80vh;
    }
}

@media (max-width:650px){
    .popup img{
        max-width:50vh;
    }
}
