
.section-head{
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.section-head > div{
        width: 70%;
        display: flex;
        justify-content: space-between;
}

.search{
    width:60%;
    background-color: #f1f1f1;
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-left: 1rem;

}

.search svg{
    height: 100%;
    min-height: 30px;
    cursor: pointer;
}

#search{
   width:90%;
   background:none;
   border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding-left: 1rem;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.product{
    background-color: #f1f1f1;
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product > img{
    width:100%;
    height: 200px;
    border:solid 1px #d1d1d1;
}

.product  .text{
    width: 100%;
}

.product .stars{
    display: flex;
}

.product .stars img{
    display: flex;
    width: 20px;
}

.product .last{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1rem;
}

.product .last .btn{
    background-color: #FF6B00;
    color: #fff;
    padding: .5rem;
    font-size: 1rem;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
}

.section-number{
    justify-content: flex-start;
    margin-bottom: 5rem;
}

.number{
    border:solid 2px #FF6B00;
    width: 40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .25rem;
    cursor: pointer;
    transition: all ease-in-out .15s;
}

.number:hover, .number.active{
    background-color: #FF6B00;
    color: #fff;
}

.number:active{
    transform: scale(.9);
}


/*popup*/
.popup{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:94vw;
    height:98vh;
    background-color: #f1f1f1;
    max-width: 1200px;
    max-height: 600px;
    z-index: 10000;
}

.overlay{
    background-color: #00000027;
    position: fixed;
    top:0;
    left: 0;
    width:100vw;
    height:100vh;
    z-index: 999;
}

.close-popup{
    position: absolute;
    top:-1px;
    right:0;
    color: #FF6B00;
    font-size:1rem;
    padding: 1rem;
    cursor: pointer;
    transition: all ease .15s;
}

.close-popup:hover{
    color: #ff3c00;
}

@media (max-width:650px){
    section{
        flex-direction: column !important;
    }
    .section-head > div{
        flex-direction: column;
        align-items: center;
    }
    .search{
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media (max-width:1000px){
    section{
        flex-direction: row;
    }

    h2{
        margin-bottom: 1rem;
    }

    .products{
        flex-direction: column;
        align-items: center;
    }

    .product{
        width:250px;
        margin-bottom: 1rem;
    }

    .section-number{
        flex-direction: row;
        justify-content: center;
    }
}