/*Main Rulez*/
*{
    padding: 0;
    margin:0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}

::selection{
    background-color: #FF6B00;
    color: #fff;
}

body{
    font-size: 1.25rem;
    font-family: 'Monda', sans-serif;
    color:#6d6d6d;
    overflow-x: hidden;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color:inherit
}

br{
    margin-bottom: .75rem;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 1.5rem;
}

.btn{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin:1rem;
    color:inherit;
    border: none;
    max-width: 200px;
    text-align: center;
    transition: all ease-in-out .25s;
}

.btn:hover{
    transform: scale(1.1);
}

.btn:active{
    transform: scale(.9);
}

.grey-bg{
    background-color: #f1f1f1;
}

.main-color{
    color: #FF6B00;
}

.light-color{
    color:#949494;
}

.capital{
    text-transform: capitalize;
}

.sub-text{
    font-size: 1rem;
}

/*Start Navigation*/
.navigation{
    font-size: 1.5rem;
    padding-top: 1rem;
}

.navigation .container{
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 1rem;
}

.nav-container{
    align-items: center;
}

.navigation li{
    padding-left: .75rem;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.navigation li:hover{
    color:#FF6B00;
    transform: scale(1.1);
}

.navigation li:active{
    transform: scale(.97);
}
/*End Navigation*/


/*start Footer*/
footer{
    background-color: #2b468b;
    padding-top: 2rem;
    color:#f1f1f1;
    font-size: 1rem;
}

footer .container:first-of-type{

    align-items: flex-start;
}

footer ul{
    flex-direction: column;

}

footer li:hover{
    transform: scale(1.2);
    color:#FF6B00;
}

footer li:active{
    transform: scale(0.9);
}

footer .copy-rights{
    background-color: #18306e;
    color:#949494;
}


/*End Footer*/


/*classes used in js*/

.opacity{
    
    opacity: 0;
}

.position-appear{
    transition:all 1s ease-in-out;
    transform: translateY(20px);
}

.fade-in{
    opacity: 1;
    transform:translateY(0);
}



@media (max-width:650px){
    body{
        font-size: 1rem;
       
    }

    .copy-rights .container{
        justify-content: flex-start;
        font-size: .75rem;
    }
}

@media (max-width:800px){

    .container{
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    footer .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .navigation {
        font-size:1.25rem;
    }

    .navigation .logo{
        margin-bottom: .5rem;
    }

    header h1{
        margin-bottom: 1rem;
    }

}


/*edit 1*/
/*loading*/
.load{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100px;
	height:100px;
}

.load hr{
	border:0;
	margin:0;
	width:40%;
	height:40%;
	position:absolute;
	border-radius:50%;
	animation: spin 2s ease infinite;
}

.load :first-child{
	background:#3491ff;
	animation-delay:-1.5S;
}

.load :nth-child(2){
	background:#ff6b00;
	animation-delay:-1S;
}

.load :nth-child(3){
	background:#9c9c9c;
	animation-delay:-0.5S;
}



.load :last-child{
	background:#19fc4b;
}

@keyframes spin{
	0%,100%{
		transform:translate(0);
	}
	25%{
		transform:translate(160%);
	}
	50%{
		transform:translate(160%,160%);
	}
	75%{
		transform:translate(0,160%);
	}
}
