body{
    text-align: center;
}

.intro{
    opacity: 0;
    transform: translateX(-20px);
    transition: all ease-in-out .5s;

    h1{
        margin-top: 2rem;
    }
    
    p{
        margin: 0 auto 2rem;
        font-size: 1rem;
        max-width: 70%;
    }
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;

    @media (max-width:800px){
        flex-direction: column;
        align-items: center;
    }

    .img-container{
        max-width: 30vw;
        margin: .5rem;
        overflow: hidden;

        @media (max-width:800px){
            max-width: 100%;
        }

        img{
            width: 100%;
            cursor: pointer;
            transition: all ease-in-out .5s;

            &:hover{
                transform: scale(1.3);
            }
             &:active{
                transition: all ease-in-out .15s;
                transform: scale(0.9);
            }
        }
    }
}


//image popup when clicked
.overlay {
	z-index:1000;
	background-color:rgba(0,0,0,0.7);
	position:fixed;
	top:0;
	left:0;
	width:100vw;
    height:100vh;
    cursor: pointer;
}

.popup{
	z-index:1001;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:1rem;
    background-color:rgba(255, 255, 255, 0.849);
    
    img{
        max-height:80vh;

        @media (max-width:830px){
            max-width:80vh;
        }
        
        @media (max-width:650px){
            max-width:50vh;
        }
        
    }

    .popup-close{
        position:fixed;
        top:5px;
        right:5px;
        padding:5px 10px;
        cursor:pointer;
        font-weight:bold;
    }

    .img-label{
        text-align:center;
        margin-bottom:15px;
        font-size:25px;
        font-weight:bold;
        text-transform:capitalize;
    }
}




